
body{
    background: #f8f8f8;
}
.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
}
header{
    background: url('../images/biman.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
header .box{
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.774);
}
header .box h1{
    color: #0099CC;
}
header .box p{
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
}
header .btn{
    padding: 6px 18px;
    border: 1px solid #0099CC;
    transition: 0.3s;
    border-radius: 0px;
    box-shadow: none;
    font-size: 16px;
    letter-spacing: 3px;
    font-weight: 500;
    color: #000;
    font-family: 'Nunito', sans-serif;
    background: rgba(255, 255, 255, 0.349);
}
header .btn:focus{
    box-shadow: none;
}
header .btn:hover{
    color: #ffffff;
    background: #0099CC;
}
.main .card{
    border: 0;
    min-height: 230px;
    border-radius: 0px;
    transition: 0.3s;
}
.main .card:hover{
    background: rgba(0, 153, 204, 0.055);
}

.main i{
    font-size: 28px;
}
.main p{
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}
.main .passenger{
    font-size: 35px;
}
@media(max-width: 576px){
    header{
        height: 400px;
        width: 100%;
    }
    header .box h1{
        font-size: 35px;
        font-family: 'Archivo Black', sans-serif;
    }
    .main{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media(min-width: 576px){
    header{
        height: 75vh;
        width: 100%;
    }
    header .box h1{
        font-size: 60px;
        font-family: 'Archivo Black', sans-serif;
    }
    header .box p{
        letter-spacing: 5px;
    }
    .main{
        padding-top: 70px;
        padding-bottom: 70px;
    }
}
@media(min-width: 768px){
    header .box h1{
        font-size: 80px;
        font-family: 'Archivo Black', sans-serif;
    }
    header .box p{
        letter-spacing: 7px;
    }
    .main{
        padding-top: 110px;
        padding-bottom: 110px;
    }
}